@page "/info"

<PageTitle>Info</PageTitle>
<h1>About Cloud Client project</h1>

@{
}
<h3>The project is centered with a military safety standard.</h3>
According to the project it can be fully inspected on:
<br />
<a href="https://github.com/Andrea-Bruno/CloudClient">Cloud Client on GitHub</a>
<br />
With this project we were the first to implement deriving from bitcoin technology, to cloud technology. The accounts cryptographic key pairs and private key (saved securely) never leaves your device.
<br />
This project has the following dependencies which you can find on GitHub:
<br />
NBitcoin for the cryptographic part and data security and generation of trustless accounts.
<br />
EncryptedMessaging <a href="https://github.com/Andrea-Bruno/EncryptedMessaging">on GitHub</a>  for trustless encryption protocols and socket connection with the router.
<br />
SecureStorage <a href="https://github.com/Andrea-Bruno/SecureStorage">on GitHub</a> to save the data and information produced by the application in an encrypted and inaccessible way.
<br />
<br />
<h4>Friendly projects for which we underline the importance of maintaining computer privacy:</h4>
<a href="https://duckduckgo.com/">DuckDuckGo (DDG)</a> is an internet search engine that emphasizes protecting searchers' privacy and avoiding the filter bubble of personalized search results.
<br />
<a href="https://www.torproject.org/">The tor project</a> is a Seattle-based 501 nonprofit organization founded by computer scientists Roger Dingledine, Nick Mathewson, and five others. The Tor Project is primarily responsible for maintaining software for the Tor anonymity network.
<br />
<a href="https://www.kali.org/">Kali linux</a> is a Debian-derived Linux distribution designed for digital forensics and penetration testing. It is maintained and funded by Offensive Security.
<br />
<a href="https://lineageos.org/">LineageOS</a> is an Android-based operating system for smartphones, tablet computers, and set-top boxes, with mostly free and open-source software.
<br />