@page "/"
@using QRCoder;
<PageTitle>Connect a device</PageTitle>
<h1>Connect a device</h1>
@{
    var qr = Cloud.Static.Client?.Context?.SecureStorage.Values.Get("QR", null) ?? Static.QrDetected;
    if (qr != null)
    {
        QRCodeGenerator qrGenerator = new QRCodeGenerator();
        QRCodeData qrCodeData = qrGenerator.CreateQrCode(qr, QRCodeGenerator.ECCLevel.Q);
        AsciiQRCode qrCode = new AsciiQRCode(qrCodeData);
        string qrCodeAsAsciiArt = qrCode.GetGraphic(1);
        <pre style="font-size:small; line-height: initial">
                @qrCodeAsAsciiArt
        </pre>
        <h3>Use the QR code to connect another device to the cloud: The PIN set on the cloud is required to connect.</h3>
    }
    else
    {
        Static.DetectQrCode((qr) => { InvokeAsync(StateHasChanged); });
        <h3>Connect your device to the cloud to view the QR code here</h3>
    }
}
