@page "/utility"

<PageTitle>Utility</PageTitle>
@if (Static.IsDebug)
{
    <button class="btn btn-primary my-3" @onclick=SendContact>Send my contact</button>
    <br />
    <button class="btn btn-primary my-3" @onclick=SendHoshRoot>Send hash root</button>
    <br />
}
<button class="btn btn-primary my-3" @onclick=OnQuitClick>Quit</button>
<br />
<button class="btn btn-primary my-3" @onclick=OnExportClick>Export passphrase</button>

@if (Passphrase != null)
{
    <div class="alert alert-info">
        @Passphrase
    </div>
}

<div class="form-check form-switch">
    <input class="form-check-input" checked="@AutoStart" @onchange=OnChangeAutoStart type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Auto start</label>
</div>

@functions {
    void OnExportClick()
    {
        Passphrase = Static.Client?.Context.My.GetPassphrase();
        if (String.IsNullOrEmpty(Passphrase))
            Passphrase = "The client is not logged in, so it is not possible to export the passphrase";
    }
    void OnQuitClick()
    {
        System.Environment.Exit(0);
    }
    void SendContact()
    {
        var context = Static.Client?.Context;
        if (context != null)
        {
            context.Messaging.SendContact(context.My.Contact, Static.Client.ServerCloud, false);
        }
    }
    void SendHoshRoot()
    {
        Static.Client?.Sync?.SendHashRoot();
    }
    void OnChangeAutoStart(ChangeEventArgs ea)
    {
        if (ea.Value is bool value)
        {
            SystemExtra.Util.SetAutoStart(value, Static.Port);
        }
    }
}

@code {
    private string? Passphrase = null;
    static bool AutoStart = SystemExtra.Util.AutoStart == null ? false : (bool)SystemExtra.Util.AutoStart;
}
