@namespace Cloud.Shared
@inherits LayoutComponentBase
<style>
    .sidebar {
        background-image: linear-gradient(180deg, rgba(0,255,255,0.9) 0%, rgba(190,255,255,0.9) 70%);
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>
<PageTitle>Cloud</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="mailto:info@tc0.it?subject=Request for assistance" >Support</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
