@using System.Runtime.InteropServices;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Cloud 1.@(new DirectoryInfo(System.Reflection.Assembly.GetEntryAssembly()?.Location).LastWriteTimeUtc.ToString("yy.MM.dd", System.Globalization.CultureInfo.InvariantCulture))
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@*         The Unicode icon set used by bootstrap Blazor
         https://kordamp.org/ikonli/cheat-sheet-openiconic.html
*@

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-phone" aria-hidden="true"></span> QR Code
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-cloud" aria-hidden="true"></span> Connection
            </NavLink>
        </div>

        @if (Directory.Exists(Static.CloudPath))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="OpenPath">
                    <span class="oi oi-folder" aria-hidden="true"></span> Explorer
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
            </NavLink>
        </div>

        @if (Static.VirtualDiskFullFileName != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="security">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Security
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monitoring">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Monitoring
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="backup">
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Backup
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="redundancy">
                <span class="oi oi-loop" aria-hidden="true"></span> Redundancy
            </NavLink>
        </div>
        @if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="antivirus">
                    <span class="oi oi-shield" aria-hidden="true"></span> Antivirus
                    @if (CloudClient != null && CloudClient.AntivirusWarnings.Count != 0)
                    {
                        <span class="text-danger fw-bold m-1"> @CloudClient?.AntivirusWarnings.Count</span>
                    }
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Diagnostics">
                <span class="oi oi-warning" aria-hidden="true"></span> Diagnostics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="info">
                <span class="oi oi-info" aria-hidden="true"></span> Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="signature">
                <span class="oi oi-document" aria-hidden="true"></span> Digital sign
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="signatureValidation">
                <span class="oi oi-check" aria-hidden="true"></span> Sign validator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="utility">
                <span class="oi oi-command" aria-hidden="true"></span> Utility
            </NavLink>
        </div>
    </nav>
    @* Component to add for dynamic rendering of AI-generated content *@
    @{
        var Features = UISupportGeneric.Util.GetAllClassInfoInNamespace("Cloud.Features", System.Reflection.Assembly.GetExecutingAssembly());
    }
    <UISupportRazor.Menu ClassesInfo="@Features"></UISupportRazor.Menu>
</div>

@code {
    private CloudBox.CloudBox CloudClient = CloudBox.CloudBox.LastInstance;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void OpenPath()
    {
        if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.Windows))
        {
            System.Diagnostics.Process.Start("explorer", Static.CloudPath);
        }
        else if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.Linux))
        {
            System.Diagnostics.Process.Start("xdg-open", Static.CloudPath);
        }
        else if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.OSX))
        {
            System.Diagnostics.Process.Start("open", Static.CloudPath);
        }
    }
}
